# Dependencies
node_modules/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Database
*.db
database/*.db

# Electron build
release/
out/

# Vite
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.log